.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__label {
  margin: 0;

  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #000000;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-top: 8px;
  padding: 0 20px;

  border: 1px solid #838383;
  border-radius: 4px;

  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  height: 60px;

  border: 0;
  border-radius: 4px;

  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  background-color: #2f80ed;

  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  align-items: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}
