.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 30px 80px 0 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
  text-decoration: none;
}
