.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 auto 24px;
  max-width: 580px;

  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

  color: #ffffff;
  text-align: center;
}

.recipes__subtitle {
  margin: 0 auto 80px;
  max-width: 438px;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
  text-align: center;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  margin: 24px 0 0;

  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}
